<!DOCTYPE html>
<html>

<head>
  <link   rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
</head>

<body>

  <div id = "app">

  <el-row>
  <el-button @click="onAddNew">Add New Issue <i class="el-icon-plus el-icon--right"></i></el-button>
  </el-row>

  <el-table
    :data="tableData"
    highlight-current-row
    @row-dblclick="handleCurrentChange"
    border
    stripe
    fit
    height="550">
    <el-table-column
      prop="time"
      label="Time">
    </el-table-column>
    <el-table-column
      prop="issue"
      label="Issue">
    </el-table-column>
    <el-table-column
      prop="version"
      label="Version">
    </el-table-column>
    <el-table-column
      prop="cause"
      label="Cause">
    </el-table-column>
    <el-table-column
      prop="comments"
      label="Comments">
    </el-table-column>
  </el-table>

     <el-dialog title="Diagnostic Issue" :visible.sync="modifyDialogVisible">
      <el-form :model="form">
        <el-form-item label="Time" :label-width="formLabelWidth">
          <el-input v-model="form.time" auto-complete="off" disabled></el-input>
        </el-form-item>
        <el-form-item label="Issue" :label-width="formLabelWidth">
          <el-input v-model="form.issue" auto-complete="off" disabled></el-input>
        </el-form-item>
        <el-form-item label="Version" :label-width="formLabelWidth">
          <el-input v-model="form.version" auto-complete="off" disabled></el-input>
        </el-form-item>          
        <el-form-item label="Cause" :label-width="formLabelWidth">
          <el-input v-model="form.cause" auto-complete="off"></el-input>
        </el-form-item>   
        <el-form-item label="Comments" :label-width="formLabelWidth">
          <el-input type="textarea" v-model="form.comments" auto-complete="off"></el-input>
        </el-form-item>                               
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleModify">submit</el-button>
      </div>
    </el-dialog> 

     <el-dialog title="Diagnostic Issue" :visible.sync="addIssueDialogVisible">
      <el-form :model="newForm">
        <el-form-item label="Date" :label-width="formLabelWidth">
            <el-date-picker type="date" placeholder="choose data" v-model="newForm.date"></el-date-picker>
        </el-form-item>
        <el-form-item label="Time" :label-width="formLabelWidth">
            <el-time-picker type="fixed-time" placeholder="choose time" v-model="newForm.time"></el-time-picker>
        </el-form-item>
        <el-form-item label="Issue" :label-width="formLabelWidth">
            <el-select v-model="newForm.issue" placeholder="INTERVENTION">
            <el-option label="INTERVENTION" value="INTERVENTION"></el-option>
            <el-option label="COLLISION" value="COLLISION"></el-option>
            <el-option label="BREAK_LINE" value="BREAK_LINE"></el-option>
        </el-form-item>
        <el-form-item label="Version" :label-width="formLabelWidth">
          <el-input v-model="newForm.version" auto-complete="off"></el-input>
        </el-form-item>          
        <el-form-item label="Cause" :label-width="formLabelWidth">
          <el-input v-model="newForm.cause" auto-complete="off"></el-input>
        </el-form-item>   
        <el-form-item label="Comments" :label-width="formLabelWidth">
          <el-input type="textarea" v-model="newForm.comments" auto-complete="off"></el-input>
        </el-form-item>                               
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="handleAddNew">submit</el-button>
      </div>
    </el-dialog>

  </div> 

    <style>
      .el-row {
        margin-bottom: 20px;
        }
    </style>


</body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

      <script>        
        new Vue({
          el: '#app',
          data: { tableData:  [],
                  modifyDialogVisible: false,
                  addIssueDialogVisible : false,
                  form: {
                      time: '',
                      issue: '',
                      version: '',
                      cause: '',
                      comments: ''
                    },
                  newForm: {
                      date: '',
                      time: '',
                      issue: 'INTERVENTION',
                      version: ' ',
                      cause: ' ',
                      comments: ' '                   
                  },
                    formLabelWidth: '120px',
                    current_row: null           
                },
          mounted: function () 
          {
               var vm = this;
               $.getJSON("http://localhost:5000/test/api/v1.0/diagnostics",
                 function(data) {
                    vm.tableData = data.items;
                 });  
          },         
          methods: 
          {
            handleCurrentChange(val) {
                this.modifyDialogVisible = true;
                this.current_row = val;
                this.form.time = val.time;
                this.form.issue = val.issue;
                this.form.version = val.version;
                this.form.cause = val.cause;
                this.form.comments = val.comments;
            },
            handleModify()
            {
                var self = this;
                this.modifyDialogVisible = false;
                $.ajax({
                url: "http://localhost:5000/test/api/v1.0/diagnostics/" + Date.parse(this.form.time) + this.form.time.slice(-7,-1),
                type: 'PUT',    
                data: JSON.stringify(this.form),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) { 
                    self.current_row.cause = self.form.cause;
                    self.current_row.comments = self.form.comments;
                },
                error: function (error) {alert("error: fail to submit to server!");}
                });
            },
            onAddNew()
            {
                this.addIssueDialogVisible = true;
            },
            handleAddNew()
            {
                if(this.newForm.date == '')
                {
                    alert("Error: date should not be empty");
                }
                if(this.newForm.time == '')
                {
                    alert("Error: time should not be empty");
                }
                if(this.newForm.issue == '')
                {
                    alert("Error: issue should not be empty");
                }                
                if(this.newForm.version == '')
                {
                    alert("Error: version should not be empty");
                }

                var date = new Date(this.newForm.date);
                var targetTime = new Date(this.newForm.time)
                targetTime.setFullYear(date.getFullYear());
                targetTime.setMonth(date.getMonth());
                targetTime.setDate(date.getDate());

                this.addIssueDialogVisible = false;
                var issue = {time : Date.parse(targetTime) * 1000000,
                            issue : this.newForm.issue,
                            version : this.newForm.version,
                            cause : this.newForm.cause,
                            comments : this.newForm.comments};


                var self = this;
                $.ajax({
                url: "http://localhost:5000/test/api/v1.0/diagnostics",
                type: 'POST',    
                data: JSON.stringify(issue),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) { 
                    self.tableData.push(issue);
                },
                error: function (error) {alert("error: fail to submit to server!");}
                });                
            }
          }         
        })
      </script>

</html>